shelloutput#default {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  text-align: left;
  padding: 0;
  margin: 0;
  max-width: 600px;
  max-height: 20em; /* 20em means 20 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 60%;
  line-height: 100%;
  border-bottom: solid 1px #666;
}
